<div class="page auth" id="page">
    <title>Login</title>
    <div class="left">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
        <h1>Welcome</h1>
        <form hx-post="{{ url_for("auth_api.login") }}"
              hx-target="#app"
              hx-swap="innerHTML"
              hx-on="htmx:load: this.reset()"
              id="sign-up-form"
              hx-push-url="true">
            {{ form.hidden_tag() }}
            {{ form.email_address(placeholder="Email Address") }}
            {{ form.password(placeholder="Password") }}
            <button class="auth-btn" type="submit">Login</button>
        </form>
        <a class="create-account" href="{{ url_for("auth_web.sign_up") }}">Create a New Account</a>
    </div>
    <div class="right">
        <video muted autoplay loop playsinline>
            <source src="../../static/videos/loop-1.mp4" type="video/mp4">
        </video>
    </div>
</div>
