<div class="body-cont">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/user/apply/base.css') }}">
    <div class="left">
        <div class="top">
            <button class="add">
                <div class="icon"></div>
            </button>
            <button class="hide">Hide</button>
        </div>
        <input type="search" name="" value="" placeholder="Search" class="search">
    </div>
    <div class="right">
        <div class="default">
            <img src="{{ url_for('static', filename='images/apply/base.png') }}"
                 alt="base image">
            <p>Turn Any Job Description into a Winning Application.</p>
        </div>
    </div>
</div>
