<div class="page-cont doc-home">
    <title>All Documents</title>
    <div class="top">
        <input type="search"
               name="q"
               placeholder="Search"
               class="search"
               hx-get="{{ url_for("documents_api.search") }}"
               hx-trigger="input changed delay:300ms, search"
               hx-vals="js:{doc_type: document.querySelector('.filter-btn.active').dataset.type}"
               hx-target=".document-rows"
               hx-swap="innerHTML">
        <div class="buttons">
            <button class="filter-btn all-btn active"
                    data-type="all"
                    hx-get="{{ url_for("documents_api.search") }}"
                    hx-vals='{"doc_type": "all"}'
                    hx-include=".search"
                    hx-target=".document-rows">All</button>
            <button class="filter-btn cv-btn"
                    data-type="cv"
                    hx-get="{{ url_for("documents_api.search") }}"
                    hx-vals='{"doc_type": "cv"}'
                    hx-include=".search"
                    hx-target=".document-rows">My CVs</button>
            <button class="filter-btn cover-letter-btn"
                    data-type="cover-letter"
                    hx-get="{{ url_for("documents_api.search") }}"
                    hx-vals='{"doc_type": "cover-letter"}'
                    hx-include=".search"
                    hx-target=".document-rows">My Cover Letters</button>
        </div>
    </div>
    <div class="document-list-wrapper">
        <table class="list">
            <tbody class="document-rows">
                {% include "user/documents-pages/document-rows.html" %}
            </tbody>
        </table>
    </div>
    <script>
        (() => {
            const buttons = document.querySelectorAll(".filter-btn");

            function setActive(button) {
                buttons.forEach(btn => btn.classList.remove("active"));
                button.classList.add("active");
            }

            buttons.forEach(button => {
                button.addEventListener("click", () => setActive(button));
            });
        })();
    </script>
</div>
