<div class="body-cont">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/user/documents/editor.css') }}">
<div class="toolbar" id="toolbar">
  <div class="font-families">
    <div class="selected-font" id="selected-font">
      <span>Serif</span> 
      <button class="more-btn"><div class="icon"></div></button>
    </div>
    <div class="selections hidden" id="selections">
      <span data-value="serif">Serif</span>
      <span data-value="Inter">Inter</span>
      <span data-value="cursive">Cursive</span>
    </div>
  </div>
  <button class="bold-btn" id="bold-btn"><div class="icon"></div></button>
  <button class="italic-btn" id="italic-btn"><div class="icon"></div></button>
  <button class="underline-btn" id="underline-btn"><div class="icon"></div></button>
  <input type="number" name="" value="16" class="font-size" id="font-size">
  <div class="font-styles">
    <span>p</span>
    <button class="more-btn"><div class="icon"></div></button>
  </div>
  <button class="bullets-btn"><div class="icon"></div></button>
  <button class="align-btn"><div class="icon"></div></button>
</div>
<hr>
<div class="workspace" id="workspace">
</div>
<script id="initial-data" type="application/json">
  {{ markdown_code | tojson }}
</script>
<script type="module" src="{{ url_for('static', filename='js/user/documents/editor-v2.js') }}"></script> 
