.apply {
  .job-card {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    padding: 15px;
    border-radius: 5px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
  }

  .job-card.deleting {
    display: none;
  }


  .job-card:hover {
    background-color: #F3F4F1;
  }


  .card-right {
    height: 100%;
  }

  .card-left p {
    margin: 0;
    color: #0E1116;
  }

  .job-card .job-role {
    font-weight: bold;
    font-size: medium;
  }

  .job-card .company-name {
    font-size: small;
    padding-bottom: 10px;
  }

  .job-card .relevancy {
    font-size: smaller;
  }


  .job-card .icon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: rgba(14, 17, 22, 0.5);
    width: 80%;
    height: 80%;
    transition: 0.2s ease;
  }

  .card-right .delete-btn {
    margin-top: 18px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .delete-btn .icon {
    mask-image: url("../../../../images/icons/functional-icons/delete.svg");
    -webkit-mask-image: url("../../../../images/icons/functional-icons/delete.svg");
  }
}
