.education-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.education-form > input,
.education-form > textarea,
.time-period > input {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: "Inter";
}

.education-form > textarea {
  resize: vertical;
  max-height: 100px;
  min-height: max-content;
}
