{% macro onboarding_base() %}
    <div class="main-content" id="page">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/onboarding/base.css') }}">
        <div class="page-cont">
            {% if page == 'home' %}
                {% include "onboarding/home.html" %}
            {% elif page == 'education' %}
                {% include "onboarding/education.html" %}
            {% elif page == 'skills' %}
                {% include "onboarding/skills.html" %}
            {% elif page == 'experience' %}
                {% include "onboarding/experience.html" %}
            {% endif %}
        </div>
        <div class="nav-bar">
            <button class="nav-btn education"
                    hx-get="{{ url_for("onboarding_web.education") }}"
                    hx-target=".page-cont"
                    hx-swag="innerHTML transition:true"
                    hx-push-url="true">
                <span>◎</span>
                Education
            </button>
            <button class="nav-btn skills"
                    hx-get="{{ url_for("onboarding_web.skills") }}"
                    hx-target=".page-cont"
                    hx-swag="innerHTML transition:true"
                    hx-push-url="true">
                <span>◎</span>
                Skills
            </button>
            <button class="nav-btn experience"
                    hx-get="{{ url_for("onboarding_web.experience") }}"
                    hx-target=".page-cont"
                    hx-swag="innerHTML transition:true"
                    hx-push-url="true">
                <span>◎</span>
                Experience
            </button>
            <button type="">Skip Now</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.6.1/dist/js/tom-select.complete.min.js"></script>
    </div>
{% endmacro %}
{% if not request.headers.get("HX-Request") %}
    {% extends "base.html" %}
    {% block content %}{{ onboarding_base() }}{% endblock %}
{% else %}
    {{ onboarding_base() }}
{% endif %}
