<link rel="stylesheet"
      href="{{ url_for('static', filename='css/onboarding/home.css') }}">
<img src="{{ url_for('static', filename='images/logo.svg') }}"
     alt="app-logo">
<p class="heading">Welcome to Applyra</p>
<p class="p">Lets set up your profile so we can help you create resumes and track your applications</p>
<button hx-get="{{ url_for("onboarding_web.education") }}"
        hx-target=".page-cont"
        hx-swag="innerHTML transition:true"
        hx-push-url="true">Get Started</button>
<!-- TODO: Add the skip button-->
