{% macro user_base() %}
    <div class="main-content">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/base.css') }}" />
        {# To avoid FOUC (Flash of Unstyled Content), put all the stylings in the user/base.html #}
        {# Documents CSS #}
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/documents/doc-home.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/documents/editor.css') }}">
        {# Documents CSS end #}
        {# Apply CSS #}
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/apply/base.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/apply/components/card.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/apply/components/detail.css') }}">
        {# Apply CSS end #}
        {# Settings CSS #}
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/settings.css') }}">
        {# Settings CSS end #}
        <div class="nav-bar">
            <div class="user-photo">
                <img id="nav-profile-image"
                     src="{{ current_user.profile_image }}"
                     alt="{{ current_user.full_name }}" />
            </div>
            <!--<button class="home-btn" hx-get="{{ url_for("dashboard_web.dashboard") }}" hx-target=".page-body" hx-swag="innerHTML" hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/home.svg') }}" alt="home-icon" />
            </button>-->
            <button class="nav-page-btn{% if page == 'apply' %} active{% endif %}"
                    data-nav-path="/apply/"
                    hx-get="{{ url_for("apply_web.apply") }}"
                    hx-target=".page-body"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/apply.svg') }}"
                     alt="apply-icon" />
                <p>Apply</p>
            </button>
            <!--<button>
                <img src="{{ url_for('static', filename='images/icons/track.svg') }}" alt="track-icon" />
            </button>-->
            <button class="nav-page-btn{% if page in ['doc-home', 'document-editor'] %} active{% endif %}"
                    data-nav-path="/files/"
                    hx-get="{{ url_for("documents_web.doc_home") }}"
                    hx-target=".page-body"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/documents.svg') }}"
                     alt="doc-icon" />
                <p>Docs</p>
            </button>
            <!--<button>
                <img src="{{ url_for('static', filename='images/icons/rules.svg') }}" alt="rules-icon" />
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/icons/practice.svg') }}" alt="practice-icon" />
                <p>Interview</p>
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/icons/insights.svg') }}" alt="insights-icon" />
            </button>-->
            <button class="nav-page-btn settings-btn{% if page == 'settings' %} active{% endif %}"
                    data-nav-path="/settings/"
                    hx-get="{{ url_for("settings_web.settings") }}"
                    hx-target=".page-body"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/settings.svg') }}"
                     alt="settings-icon" />
                <p>Settings</p>
            </button>
            <button class="logout-btn"
                    onclick="window.location.href='{{ url_for("settings_web.logout") }}'">
                <img src="{{ url_for('static', filename='images/icons/logout.svg') }}"
                     alt="settings-icon" />
                <p>Logout</p>
            </button>
        </div>
        <div class="page" id="page">
            <div class="page-header">
                <img src="{{ url_for('static', filename='images/icons/app-icon.svg') }}"
                     alt="app-icon"
                     class="app-icon" />
            </div>
            <div class="page-body">
                {% if page == 'dashboard' %}
                    {% include "user/dashboard.html" %}
                {% elif
                    page == "document-editor" %}
                    {% include
                    "user/documents-pages/editor.html" %}
                {% elif
                    page == "doc-home" %}
                    {% include
                    "user/documents-pages/doc-home.html" %}
                {% elif
                    page == "apply"%}
                    {% include "user/apply/base.html" %}
                {% elif page == "settings" %}
                    {% include "user/settings/settings-static.html" %}
                {% endif %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </div>
{% endmacro %}
{% if not request.headers.get("HX-Request") %}
    {% extends
    "base.html" %}
    {% block content %}{{ user_base() }}{% endblock %}
{% else %}
    {{ user_base() }}
{% endif %}
