<!-- NOTE: Put a logout button in the nav bar -->
{% macro user_base() %}
    <div class="main-content">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/user/base.css') }}" />
        <div class="nav-bar">
            <div class="user-photo"></div>
            <button class="home-btn"
                    hx-get="{{ url_for("dashboard_web.dashboard") }}"
                    hx-target=".page-body"
                    hx-swag="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/home.svg') }}"
                     alt="home-icon" />
            </button>
            <button hx-get="{{ url_for("apply_web.apply") }}"
                    hx-target=".page-body"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/apply.svg') }}"
                     alt="apply-icon" />
            </button>
            <!--<button>
                <img src="{{ url_for('static', filename='images/icons/track.svg') }}" alt="track-icon" />
            </button>-->
            <button hx-get="{{ url_for("documents_web.doc_home") }}"
                    hx-target=".page-body"
                    hx-swag="innerHTML"
                    hx-push-url="true">
                <img src="{{ url_for('static', filename='images/icons/documents.svg') }}"
                     alt="doc-icon" />
            </button>
            <!--<button>
                <img src="{{ url_for('static', filename='images/icons/rules.svg') }}" alt="rules-icon" />
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/icons/practice.svg') }}" alt="practice-icon" />
            </button>
            <button>
                <img src="{{ url_for('static', filename='images/icons/insights.svg') }}" alt="insights-icon" />
            </button>-->
            <button class="settings-btn">
                <img src="{{ url_for('static', filename='images/icons/settings.svg') }}"
                     alt="settings-icon" />
            </button>
        </div>
        <div class="page" id="page">
            <div class="page-header">
                <img src="{{ url_for('static', filename='images/icons/app-icon.svg') }}"
                     alt="app-icon"
                     class="app-icon" />
            </div>
            <div class="page-body">
                {% if page == 'dashboard' %}
                    {% include "user/dashboard.html" %}
                {% elif
                    page == "document-editor" %}
                    {% include
                    "user/documents-pages/editor.html" %}
                {% elif
                    page == "doc-home" %}
                    {% set form = form %}
                    {% include
                    "user/documents-pages/doc-home.html" %}
                {% elif
                    page == "apply"%}
                    {% include "user/apply/base.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
{% if not request.headers.get("HX-Request") %}
    {% extends
    "base.html" %}
    {% block content %}{{ user_base() }}{% endblock %}
{% else %}
    {{ user_base() }}
{% endif %}
