@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default styling */
  -webkit-appearance: none;

  /* Create a custom round button */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../../static/images/icons/functional-icons/cross.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f3f4f1;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6e8e3;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.htmx-indicator {
  opacity: 0;
  visibility: hidden;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in;
}

.btn-loader {
  --color-1: rgba(255, 255, 255, 0.15);
  --color-2: rgba(255, 255, 255, 0.25);
  --color-3: rgba(255, 255, 255, 0.35);
  --color-4: rgba(255, 255, 255, 0.5);
  --size: 0.5px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: calc(10 * var(--size)) solid;
  border-color: var(--color-1) var(--color-2) var(--color-3) var(--color-4);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-loader {
  opacity: 0;
  visibility: hidden;
}

.htmx-request .btn-loader,
.htmx-request.btn-loader {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in;
}
