{% macro card(education_id, certificate, start_year, end_year, institution, location, notes, form) %}
    <div class="card" id="x{{ education_id }}">
        <div class="left">
            <p class="name" id="static-certificate-name">{{ certificate }}</p>
            <p class="time" id="static-time">{{ start_year }} - {{ end_year }}</p>
            <form class="edit"
                  id="edit-cont"
                  hx-post="{{ url_for('onboarding_api.education_update', id=education_id) }}"
                  hx-target="#x{{ education_id }}"
                  hx-swap="outerHTML">
                {{ form.hidden_tag() }}
                <div class="name">{{ form.certificate(value=certificate) }}</div>
                <div class="time">{{ form.start_year(value=start_year) }} - {{ form.end_year(value=end_year) }}</div>
                {{ form.institution(value=institution) }}
                {{ form.location(value=location) }}
                {% set _ = form.description.__setattr__('data', notes) %}
                {{ form.description() }}
                <button class="done" type="submit">Update</button>
            </form>
        </div>
        <div class="right">
            <button class="delete-btn"
                    hx-delete="{{ url_for('onboarding_api.education_delete', id=education_id) }}"
                    hx-target="#x{{ education_id }}"
                    hx-swap="delete">
                <div class="icon"></div>
            </button>
            <button class="edit-btn" id="edit-btn">
                <div class="icon"></div>
            </button>
            <button class="cancel-btn" id="cancel-btn">
                <div class="icon"></div>
            </button>
        </div>
        <script>
        {# Can't move to an external file, because it is hard to indentify specific card
        and, if I move this part to an external file, I have to use addEventListeners,
        and if I do, I run into an issue with varaibles because there are more than one card,
        and if I use a varaible, I am getting 
        Uncaught SyntaxError: Identifier '[varaible name]' has already been declared */ #}
            (() => {
                const card = document.getElementById('x{{ education_id }}')
                const editBtn = card.querySelector('#edit-btn')
                const editCont = card.querySelector('#edit-cont')
                const cancelBtn = card.querySelector('#cancel-btn')
                const staticCertificateName = card.querySelector('.name')
                const staticTime = card.querySelector('#static-time')

                editBtn.addEventListener('click', ()=>{
                    staticCertificateName.style.display = 'none'
                    staticTime.style.display = 'none'
                    editCont.style.display = 'flex'
                    editBtn.style.display = 'none'
                    cancelBtn.style.display = 'inline'
                })

                cancelBtn.addEventListener('click', () => {
                    staticCertificateName.style.display = 'block'
                    staticTime.style.display = 'block'
                    editCont.style.display = 'none'
                    editBtn.style.display = 'inline'
                    cancelBtn.style.display = 'none'
                })
            })();
</script>
</div>
{% endmacro %}
{% if api %}
{{ card(education_id, certificate, start_year, end_year, institution, location, notes, form) }}
{% endif %}
