:root {
  --toolbar-height: 40px;
  --workspace-padding: 50px;
  --hr-height: 3px;
}


@font-face {
  font-family: 'Inter';
  /* Give it any name */
  src: url('../../../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 25px 0px 25px;
  height: var(--toolbar-height);
  gap: 25px;
}


.toolbar * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.toolbar button:hover {
  background-color: rgba(14, 17, 22, 0.05);
}


.toolbar button:hover .icon {
  background-color: rgba(14, 17, 22);
}


.workspace {
  height: calc(100dvh - (var(--toolbar-height) + (2 * (var(--main-content-gap) + var(--workspace-padding) + 5px)) + var(--header-height)));
  width: 1fr;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: var(--workspace-padding);
  background-color: rgba(14, 17, 22, 0.02);
}


.tiptap {
  background-color: white;
  width: 210mm;
  min-height: 297mm;
  outline: none;
  page-break-after: always;
  /* border: solid #F3F4F1 var(--hr-height); */
  border-radius: 5px;
  padding: 15px;
  overflow-wrap: break-word;
  position: relative;
  white-space: pre-line;
  cursor: text;
  border: 1px solid #F3F4F1;
}


hr {
  height: var(--hr-height);
  /* background-color: #F3F4F1; */
  border: none;
  margin: 0;
  border-radius: 15px;
  border-bottom: 1px solid #F3F4F1;
  width: 99.9%;
  margin-left: auto;
  margin-right: auto;
}


.text-cursor {
  animation: blink 1s step-end infinite;
  position: absolute;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.bold-btn,
.italic-btn,
.underline-btn,
.bullets-btn,
.align-btn,
.more-btn {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter';
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  transition: 0.2s linear;
}


.toolbar span {
  font-family: 'Inter';
  font-size: small;
}


.bold-btn .icon,
.italic-btn .icon,
.underline-btn .icon,
.bullets-btn .icon,
.align-btn .icon,
.more-btn .icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: rgba(14, 17, 22, 0.5);
  width: 80%;
  height: 80%;
  transition: 0.2s ease;
}


.bold-btn .icon {
  mask-image: url("../../../images/icons/toolbar/bold.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/bold.svg");
}


.italic-btn .icon {
  mask-image: url("../../../images/icons/toolbar/italic.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/italic.svg");
}


.underline-btn .icon {
  mask-image: url("../../../images/icons/toolbar/underline.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/underline.svg");
}


.bullets-btn .icon {
  mask-image: url("../../../images/icons/toolbar/bullets.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/bullets.svg");
}


.align-btn.left .icon {
  mask-image: url("../../../images/icons/toolbar/align.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/align.svg");
}


.align-btn.center .icon {
  mask-image: url("../../../images/icons/toolbar/align-center.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/align-center.svg");
}


.align-btn.right .icon {
  mask-image: url("../../../images/icons/toolbar/align-right.svg.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/align-right.svg");
}


.align-btn.justify .icon {
  mask-image: url("../../../images/icons/toolbar/justify.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/justify.svg");
}


.more-btn .icon {
  mask-image: url("../../../images/icons/toolbar/down.svg");
  -webkit-mask-image: url("../../../images/icons/toolbar/down.svg");
}


.font-size {
  width: 20px;
  border: none;
  outline: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}


.font-families *,
.font-styles * {
  cursor: pointer;
}


.font-families,
.font-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15px;
}


.font-families {
  width: 100px;
}


.font-styles {
  width: 25px;
}


.selected-font,
.selected-font-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.selected-font-style {
  gap: 5px;
  color: rgba(14, 17, 22);
}


.selections {
  display: flex;
  opacity: 1;
  flex-direction: column;
  gap: 0.5px;
  position: absolute;
  z-index: 1;
  top: 40px;
  width: inherit;
  background-color: rgba(14, 17, 22, 0.05);
  background-color: white;
  transition: 0.2s ease;
  padding: 5px;
  border-radius: 5px;
}


.selections.hidden {
  opacity: 0;
  pointer-events: none;
}


.selections span {
  padding: 5px;
  border-radius: 2px;
  transition: 0.2s ease;
}


.selections span:hover {
  background-color: white;
  background-color: rgba(14, 17, 22, 0.02);
}


.font-styles span {
  width: 15px;
}


.more-btn .icon {
  height: 10px;
  width: 10px;
}


.active {
  background-color: rgba(14, 17, 22, 0.03);
}


.active .icon {
  background-image: linear-gradient(to right, #7C3AED, #22335C);
}
