.card {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: rgba(14, 17, 22, 0.5);
  width: 80%;
  height: 80%;
  transition: 0.2s ease;
}


.delete-btn,
.edit-btn,
.cancel-btn {
  margin-top: 18px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.delete-btn .icon {
  mask-image: url("../../../images/icons/functional-icons/delete.svg");
  -webkit-mask-image: url("../../../images/icons/functional-icons/delete.svg");
}


.edit-btn .icon {
  mask-image: url("../../../images/icons/functional-icons/edit.svg");
  -webkit-mask-image: url("../../../images/icons/functional-icons/edit.svg");
}


.cancel-btn .icon {
  mask-image: url("../../../images/icons/functional-icons/cross.svg");
  -webkit-mask-image: url("../../../images/icons/functional-icons/cross.svg");
}

.name {
  margin-bottom: 0px;
  font-size: large;
  font-weight: bold;
}


.card .left {
  flex-grow: 1;
}


.card .edit {
  flex-direction: column;
  width: 100%;
  display: none;
}


.cancel-btn {
  display: none;
}
